<!DOCTYPE html>
<html>
<head>
	<center>
		<title>
			Welcome to Sky and Sea!
		</title>
	</center>
	<style>
		body {
			background-image: url('pexels-kellie-churchman-1001682.jpg'); background-size: 100% 320%;
		}
	</style>
</head>

<body>
	<h1>Welcome to Team Sky and Sea!</h1>
	<p>From far and wide, from the heights to the depths, our team seeks to analyze COVID-19 data in the state of Illinois. Our members consist of two experienced mentors and three students from different STEM majors. Our science gateway aims to catalog the vaccinated portions of Illinois and identify areas where progress on vaccinations is being made. Overall, our team seeks to answer three questions:
		<br>1. How do the vaccination rates of Illinois counties compare with each other? 
		<br>2. Are there similarities in how larger areas (combinations of county regions) receive COVID-19 vaccinations? 
		<br>3. Is there a plateau on vaccination rates in certain counties? If so, when did it begin to occur?
	</p>
</body>
</html>