<!DOCTYPE html>
<html>
<head>
	<title>
		Team Members
	</title>
	<style>
		body {
			background-image: url('blue-background.jpg'); background-size: 100% 500%;
		}
	</style>
	<style>
		img {
			float: left;
		}
	</style>
</head>

<body>
	<center>
		<h1 style="color:white;">Meet Team Sky and Sea</h1>
	</center>
	
	<p style="color:white; font-size:20px"><img src="Felicia_Doswell.jpg" alt="Felicia Doswell" style="width:170px; height:170px; margin-right:15px;">Felicia Doswell, PhD is an associate professor and Interim Chair at Norfolk State University in the Department of Computer Science. With five years of research under her belt, she continues to work in that field of expertise regarding information assurance, networking, and human computer interactions. Moreover, Felicia Doswell, PhD looks into increasing digital access and computer education, and she is also an advocate for underrepresented students in subjects such as high performance computing. She teaches a variety of classes at Norfolk State University, with interests ranging from artificial intelligence to mobile device security.</p>
	<br>
	<p style="color:white; font-size:20px"><img src="Marcus_Golden.jpg" alt="Marcus Golden" style="width:170px; height:170px; margin-right:15px;">Marcus Golden is a graduate instructor at the University of Mississippi within the Department of Computer Science. He is recognized as a top level programmer, instructor, research assistant, and web developer with strong business knowledge application. As a mentor for this science gateway initiative, Marcus was able to help the students while still encouraging them to take the first steps in solving the problems they ran into while completing the final project. His research interests consist of database applications, robotics and programming.</p>
	<br>
	<p style="color:white; font-size:20px"><img src="Andrea_Vivar.jpg" alt="Andrea Vivar" style="width:170px; height:170px; margin-right:15px;">Andrea Vivar is an incoming sophomore majoring in Industrial Engineering at the University of Illinois at Urbana-Champaign. As a first year student, Andrea eagerly pursued various avenues open to her within her chosen major. However, due to the growing need for computer science knowledge in the workplace, she decided to apply to a program which she believed would expand her knowledge beyond simply technical applications. While there is still some indecision as to what Andrea would like to do following the completion of her Bachelor of Science degree, she believes the computer programming knowledge and the practical knowledge of computers she has obtained will aid her tremendously in the job market.</p>
	<br>
	<p style="color:white; font-size:20px"><img src="JiWoo_Lee.jpg" alt="JiWoo Lee" style="width:170px; height:170px; margin-right:15px;">JiWoo Lee is an incoming sophomore majoring in Computer Science at the University of Illinois at Urbana-Champaign. While JiWoo believed she had chosen a strong major for a solid career after college, she sought more opportunities to apply her computer science skills in research. This led to her being a part of a university professor’s lab, analyzing the effects of fertilizer on crops growing near the university. Due to this experience applying her preliminary knowledge of front-end design, she then applied to the Science Gateways Community Institute looking to expand her computer knowledge and acquire some job experience during the summer. Towards the future, JiWoo aims to continue her research with the same professor, and she looks forward to completing her computer science degree.</p>
	<br>
	<p style="color:white; font-size:20px"><img src="Chris_Metellus.jpg" alt="Christopher Metellus" style="width:170px; height:170px; margin-right:15px;">Christopher Metellus is an incoming senior majoring in Mechanical Engineering at the University of Illinois at Urbana-Champaign. The semester prior to the Science Gateways Community Institute program, he realized that his limited computer programming knowledge hindered his ability to forward his research for Professor Van der Zande. In order to gain more computer skills, Christopher applied to this program in the hopes of learning new computer science skills and becoming comfortable enough to apply them towards the work he had started at his university. Christopher Metellus seeks to go to graduate school to study nanomaterials after he has obtained his Mechanical Engineering degree.</p>
</body>
</html>
style="width:170px; height:170px; margin-right:15px;"