<!DOCTYPE html>
<html>
<head>
	<title>
		Team Members
	</title>
	<style>
		body {
			background-image: url('blue-background.jpg'); background-size: 100% 500%;
		}
	</style>
	<style>
		img {
			float: left;
		}
	</style>
</head>

<body>
	<center>
		<h1 style="color:white;">Meet Team Sky and Sea</h1>
	</center>
	
	<p style="color:white;"><img src="Felicia_Doswell.jpg" alt="Felicia Doswell" style="width:170px; height:170px; margin-right:15px;">Some text about Felicia Doswell.</p>
	
	<p style="color:white;"><img src="Marcus_Golden.jpg" alt="Marcus Golden" style="width:170px; height:170px; margin-right:15px;">Some text about Marcus Golden.</p>
	
	<p style="color:white;"><img src="Andrea_Vivar.jpg" alt="Andrea Vivar" style="width:170px; height:170px; margin-right:15px;">Some text about Andrea Vivar.</p>
	
	<p style="color:white;"><img src="JiWoo_Lee.jpg" alt="JiWoo Lee" style="width:170px; height:170px; margin-right:15px;">Some text about JiWoo Lee</p>
	
	<p style="color:white;"><img src="Chris_Metellus.jpg" alt="Christopher Metellus" style="width:170px; height:170px; margin-right:15px;">Some text about Christopher Metellus</p>
</body>
</html>
style="width:170px; height:170px; margin-right:15px;"